@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
body {
  line-height: 22px;
  min-height: 1200px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #ffffff;
  background: #849d8f;
}
  body > input[type="radio"] {
   display: none;
  }
img {
  max-width: 100%;
  height: auto;
}
.hits img,
.goods img {
  width: 267px;
  height: 267px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 1146px;
  margin: 0 auto;;
  padding: 0 27px;
}
.link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #ffffff;
  text-decoration: none;
 }
   .link::after {
     content: " ";
     display: inline-block;
     vertical-align: bottom;
     position: absolute;
     left: 0;
     bottom: 2px;
     width: 100%;
     height: 1px;
     background: rgba(255,255,255,0.3);
   }
     .link:hover::after {
       background: rgba(232,77,55,0.3);
     }
     .link:active::after {
       transform: translateX(-6px);
       background: rgba(232,77,55,0.3);
     }
     .link:hover,
     .link:active {
       color: #ffbc9e;
       text-decoration: none;
     }
.link-black {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #323232;
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
}
  .link-black::after {
    content: " ";
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background: rgba(50,50,50,0.3);
  }
    .link-black:hover::after {
      background: rgba(232,77,55,0.3);
    }
    .link-black:active::after {
      transform: translateX(-6px);
      background: rgba(232,77,55,0.3);
    }
    .link-black:hover,
    .link-black:active{
      color: #e84d37;
      text-decoration: none;
  }
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 21px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  background: #e84d37;
  background-image: linear-gradient(to top,#e74b36,#f26843);
  border: 1px solid #e84d37;
  box-shadow: rgba(172,16,0,0.64) 0 1px 2px 0;
  border-radius: 25px;
  cursor: pointer;
}
  .btn:hover {
    background: #f38166;
    border: 1px solid #f38166;
    box-shadow: rgba(172,16,0,1) 0 1px 2px 0;
  }
  .btn:active {
    color: #fceeec;
    background: #d84833;
    border: 1px solid #d84833;
    box-shadow: inset #942718 0 1px 2px 0;
  }
.input-view {
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: 0;
}
  .input-view:hover {
    border: 2px solid #c7c6c5;
  }
  .input-view:focus {
    border: 2px solid #8fbdec;
  }
  .input-view:valid {
    border: 1px solid #d3d3d2;
    color: #323232;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
.label-box {
  position: relative;
}
  .input-label {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    pointer-events: none;
    color: #999999;
    transition: 0.2s ease all;
  }
  .input-view:focus ~ .input-label,
  .input-view:valid ~ .input-label {
    font-size: 11px;
    line-height: 13px;
    transform: translateY(-25px);
  }
  .input-view:focus ~ .input-label {
    color: #5b9ddf;
  }
  .input-view:valid ~ .input-label {
    color: #999999;
  }
  .page-header-left {
    float: left;
    width: 600px;
    margin-left: -6px;
    margin-top: 10px;
    font-size: 0;
  }
  .page-header-right {
    float: right;
    width: 500px;
    margin-top: 23px;
    text-align: right;
  }
  .logo,
  .page-navigation {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 900;
  }
    .menu {
      margin: 0;
      margin-top: 1px;
      padding: 0;
      list-style: none;
    }
    .menu > li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: 10px;
      padding-bottom: 5px;
    }
    .page-navigation .menu > li > a {
      display: block;
      margin: 7px 10px 7px 14px;
      font-weight: 500;
    }
      .menu > li > a:hover::after,
      .menu > li > a:active::after,
      .menu > li > .active::after {
        display: none;
      }
      .menu > li > a:hover {
        padding: 6px 11px 6px 13px;
        margin: 0;
        background: #f7f6f3;
        color: #333333;
        border-radius: 20px;
      }
      .menu > li > a:active {
        padding: 6px 11px 6px 13px;
        margin: 0;
        background: #f7f6f3;
        color: #333333;
        border-radius: 20px;
        box-shadow: inset 0 1px 2px #696969;
      }
      .page-navigation .menu > li > .active {
        padding: 6px 13px;
        margin: 0;
        margin-right: -1px;
        color: #ffffff;
        background: #d07058;
        border-radius: 20px;
      }
    .menu .submenu {
      display: none;
      position: absolute;
      left: -7px;
      top: 38px;
      z-index: 10;
      margin: 0;
      padding: 0;
      width: 143px;
      list-style: none;
      background: #f8f7f4;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    }
    .submenu li {
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
    }
    .submenu a {
      display: block;
      padding: 10px 15px 10px 20px;
      text-decoration: none;
      color: #323232;
    }
      .submenu li:first-child a {
        padding: 10px 20px 10px 20px;
      }
      .submenu a:hover {
        background: #fbded7;
      }
      .submenu a:active {
        background: #f6b5a5;
      }
      .submenu .active {
        background: #d07058;
      }
    .submenu li:first-child {
      font-weight: bold;
      box-shadow: 0 6px 0 -5px rgba(50,50,50,0.2);
    }
    .menu > li:hover .submenu {
      display: block;
    }
  .user-block .search-block,
  .user-block .login-block,
  .user-block .basket-block,
  .user-block .basket-full-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }
    .search {
      display: inline-block;
      vertical-align: top;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: rgba(255,255,255,0.2) url('../img/search.svg') no-repeat 50% 50%;
    }
      .search:hover {
        background: #f8f7f4 url('../img/search_hover.svg') no-repeat 50% 50%;
      }
    .search-block {
      position: relative;
      padding-bottom: 5px;
    }
      .search-content {
        display: none;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 10;
        height: 44px;
        padding: 20px 15px;
        background: #f8f7f4;
        box-shadow: 0 10px 10px rgba(0,0,0,0.4);
        border-radius: 5px;
      }
      .search-content .input-view {
        box-sizing: border-box;
        width: 311px;
      }
      .search-content-show {
        display: block;
      }
      /*
      .search-block:hover search-content {
        display: block;
      }*/
      .search-content .input-label {
        top: 10px;
        left: 14px;
      }
    .login {
      display: inline-block;
      vertical-align: top;
      padding: 8px 17px 8px 43px;
      text-decoration: none;
      color: #ffffff;
      border-radius: 25px;
      background: rgba(255,255,255,0.2) url('../img/enter.svg') no-repeat 16px 50%;
    }
      .login:hover {
        background: #f8f7f4 url('../img/enter_hover.svg') no-repeat 16px 50%;
        color: #323232;
      }
    .login-block {
      position: relative;
      padding-bottom: 5px;
    }
      .login-hover {
        display: none;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 10;
        width: 237px;
        height: 172px;
        padding: 20px;
        background: #f8f7f4;
        box-shadow: 0 10px 10px rgba(0,0,0,0.4);
        border-radius: 5px;
      }
      .login-block .input-view {
        box-sizing: border-box;
        width: 241px;
        height: 44px;
        margin-bottom: 20px;
      }
      .login-block .input-label {
        top: 10px;
        left: 14px;
      }
      /*
      .login-block:hover .login-hover {
        display: block;
      }*/
      .login-hover-show {
        display: block;
      }
      .login-hover-error {
        animation: shake 0.6s;
      }
      .login-left {
        float: left;
        width: 102px;
      }
      .login-right {
        float: right;
        width: 120px;
        text-align: left;
      }
      .login-left .btn {
        margin: 0;
        padding: 10px 25px;
        width: 102px;
      }
    .user-block .basket {
      display: inline-block;
      vertical-align: top;
      padding: 8px 35px 8px 44px;
      border-radius: 25px;
      background: rgba(255,255,255,0.2) url('../img/basket.svg') no-repeat 16px 50%;
      text-decoration: none;
      color: #ffffff;
      pointer-events: none;
      cursor: default;
    }
    .user-block .basket-full {
      display: block;
      margin-right: 0;
      padding: 8px 20px 8px 40px;
      border-radius: 25px;
      background: #f7f6f3 url('../img/basket-2.png') no-repeat 16px 50%;
      text-decoration: none;
      color: #323232;
      font-weight: bold;
    }
      .basket-full-block {
        position: relative;
        padding-bottom: 5px;
      }
      .basket-full-block table {
        display: none;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 10;
        width: 520px;
        margin: 0;
        padding: 0 10px;
        background: #f8f7f4;
        box-shadow: 0 10px 10px rgba(0,0,0,0.4);
        border-radius: 5px;
        color: #323232;
        font-size: 13px;
        line-height: 16px;
      }

    .basket-full-block tr {
        text-align: left;
      }
    .basket-full-block td {
      padding-top: 20px;
      padding-right: 7px;
      padding-bottom: 5px;
      vertical-align: middle;
    }
      .basket-full-block td:nth-child(2) {
        width: 33px;
        height: 33px;
      }
      .basket-full-block td:nth-child(3) {
        width: 220px;
        padding-left: 15px;
      }
      .basket-full-block tr:nth-last-child(2),
      .basket-full-block tr:last-child {
        text-align: right;
      }
      .basket-full-block tr:nth-last-child(2) td {
        font-size: 15px;
        line-height: 18px;
        font-weight: bold;
        border-top: 1px solid #cacac7;
      }
      .basket-full-block tr:first-child td {
        padding-bottom: 0;
      }
      .basket-full-block tr:nth-child(2) td {
        padding-bottom: 10px;
      }
      .basket-full-block tr:nth-child(3) td {
        padding-top: 15px;
      }
      .basket-full-block tr:last-child td {
        padding-top: 5px;
        padding-bottom: 20px;
      }
      .basket-full-block td:nth-last-child(2),
      .basket-full-block td:last-child {
        padding-left: 15px;
        white-space: nowrap;
      }
      .basket-full-block td:nth-last-child(2) {
        width: 85px;
        padding-left: 10px;
      }
      .basket-full-block td:last-child {
        width: 70px;
      }
      .basket-full-block .price-grey {
        color: #999999;
      }
      .cross {
        display: block;
        width: 10px;
        height: 10px;
        background: url('../img/cross.svg') no-repeat;
      }
      .basket-full-block .btn {
        padding: 10px 12px;
      }
      .basket-full-block:hover table{
        display: block;
      }
  .contacts p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
  }
    .contacts .contact {
      display: block;
      padding-top: 3px;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
      color: #ffffff;
      line-height: 24px;
    }
.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
}
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer-social li {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 15px;
    font-size: 0;
  }
  .social-btn {
    display: block;
    margin-right: 9px;
    width: 31px;
    height: 31px;
    border: 3px solid rgba(254,254,254,0.5);
    border-radius: 50%;
  }
  .social-btn-twiter {
    background: url('../img/tw.svg') no-repeat 50% 50%;
  }
    .social-btn-twiter:hover {
      background: url('../img/tw_hover.svg') no-repeat 50% 50%;
    }
    .social-btn-twiter:active {
      background: url('../img/tw.svg') no-repeat 50% 50%;
      box-shadow: inset 0 1px 2px #696969;
    }
  .social-btn-inst {
    background: url('../img/inst.svg') no-repeat 50% 50%;
  }
    .social-btn-inst:hover {
      background: url('../img/inst_hover.svg') no-repeat 50% 50%;
    }
    .social-btn-inst:active {
      background: url('../img/inst.svg') no-repeat 50% 50%;
      box-shadow: inset 0 1px 2px #696969;
    }
  .social-btn-fb {
    background: url('../img/fb.svg') no-repeat 50% 50%;
  }
    .social-btn-fb:hover {
      background: url('../img/fb_hover.svg') no-repeat 50% 50%;
    }
    .social-btn-fb:active {
      background: url('../img/fb.svg') no-repeat 50% 50%;
      box-shadow: inset 0 1px 2px #696969;
    }
  .social-btn-vk {
    background: url('../img/vk.svg') no-repeat 50% 50%;
  }
    .social-btn-vk:hover {
      background: url('../img/vk_hover.svg') no-repeat 50% 50%;
    }
    .social-btn-vk:active {
      background: url('../img/vk.svg') no-repeat 50% 50%;
      box-shadow: inset 0 1px 2px #696969;
    }
  .info {
    float: left;
    width: 500px;
    margin-right: 26px;
  }
    .info ul {
      list-style: none;
      margin: 0;
      margin-left: 105px;
      padding: 0;
      padding-top: 10px;
    }
    .info li {
      display: inline-block;
      vertical-align: bottom;
      padding-right: 8px;
      font-size: 13px;
      line-height: 18px;
    }
    .heart::before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin-right: 7px;
      background: url('../img/heart.svg') no-repeat 50% 50%;
      text-decoration: none;
    }
    .info li:not(:first-child) {
      padding-left: 22px;
    }
    .info li:last-child {
      padding-left: 35px;
    }
  .footer-copyright {
    float: right;
    width: 267px;
    margin: 0;
    padding: 0;
  }
    .footer-copyright > a {
      display: block;
      width: 109px;
      height: 38px;
      margin-left: 77px;
      margin-bottom: 3px;
    }
    .footer-copyright p {
      font-size: 12px;
      line-height: 18px;
      margin-top: 0;
      margin-left: 76px;
    }
  .catalog-footer {
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.3);
  }


/*главная страница*/
.site-wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
  .site-wrapper:before,
  .site-wrapper:after {
    content: "";
    visibility: hidden;
  }
  .site-wrapper:before,
  .site-wrapper:after {
    background-image: url("../img/slide-3.png");
  }
  .site-wrapper:after {
    background-image: url("../img/slide-2.png");
  }
.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 270px;
  text-align: center;
}
  .slide {
    display: none;
  }
  .slide-title {
  width: 700px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  }
  .slider-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 20;
    font-size: 0;
  }
  .slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin-top: -1px;
    margin-right: 8px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
    .slider-controls label:hover {
      background: rgba(248,247,244,0.4);
    }
  #btn-1:checked ~ .site-wrapper #slide1,
  #btn-2:checked ~ .site-wrapper #slide2,
  #btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
  }
  #btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
  }
  #btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.png");
  }
  #btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.png");
  }
  #btn-1:checked ~ .site-wrapper label[for="btn-1"],
  #btn-2:checked ~ .site-wrapper label[for="btn-2"],
  #btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
  }
  .slide-btn {
    border-radius: 35px;
    padding: 10px 40px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0 2px 3px rgba(160,32,11,0.76);
  }
.banners {
 margin-bottom: 33px;
}
  .banner {
    width: 520px;
    padding: 0 22px 23px 18px;
    border-radius: 15px;
  }
  .banner {
    text-align: right;
  }
  .jam {
    float: left;
    margin-right: 26px;
    background: #30050d url('../img/jam.jpg');
  }
  .choco {
    float: right;
    background: #593d32 url('../img/choco.jpg');
  }
  .banners-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    text-align: left;
  }
  .banners p {
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
.container-goods {
  width: 1188px;
  padding: 0 1px;
}
.hit {
  margin-left: 93px;
  margin-bottom: -40px;
  font-size: 0;
}
  .all-goods {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 10px;
    padding: 8px 8px 17px;
    width: 267px;
    font-size: 16px;
    text-align: center;
  }
  .all-goods:nth-child(4n),
  .all-goods:nth-child(4n):hover {
    margin-right: 0;
  }
    .all-goods:hover {
      z-index: 2;
      background: rgba(255,255,255,0.2);
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    }
    .all-goods:hover::before {
      display: none;
    }
  .hits::before {
    content: " ";
    display: block;
    position: absolute;
    top: 10;
    left: 15;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('../img/hit.png') no-repeat 50% 50%;
  }
  .price {
    position: absolute;
    left: 7px;
    top: 216px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 1px 0 2px rgba(49,50,53,0.5);
  }
  .price span {
    font-size: 45px;
  }
  .price span::after {
    content: " ";
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 36px;
    height: 41px;
    background: url('../img/ruble.svg') no-repeat 50% 6px;
  }
  .all-goods img {
    margin-bottom: 5px;
  }
  .all-goods .link {
    display: inline;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
    .all-goods:hover .link,
    .all-goods .link:hover,
    .all-goods .link:active {
      border-bottom: 0;
    }
    .all-goods .link::after,
    .all-goods .link:hover::after,
    .all-goods .link:active::after {
      display: none;
    }
  .all-goods .btn {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .all-goods:hover .btn {
    visibility: visible;
  }
.about {
  margin-bottom: 40px;
  padding: 10px 10px 3px 15px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  border-radius: 15px;
  background: #eadcc0 url('../img/wafer.jpg')
}
  .about-title {
    margin-top: 15px;
    margin-left: 4px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .about ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    column-count: 2;
    font-weight: normal;
  }
  .about li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    padding: 21px 3px 1px 60px;
  }
  .about li::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 49px;
    height: 49px;
    text-decoration: none;
  }
  .about .icecream::before {
    background: url('../img/icecream.svg') no-repeat 50% 50%;
  }
  .about .leaf::before {
    background: url('../img/leaf.svg') no-repeat 50% 50%;
  }
  .about .cow::before {
    background: url('../img/cow.svg') no-repeat 50% 50%;
  }
  .about .thermometer::before {
    background: url('../img/thermometer.svg') no-repeat 50% 50%;
  }

.index-content {
  margin-bottom: 40px;
}
  .news-blog {
    float: left;
    width: 330px;
    margin-right: 15px;
    padding: 10px 210px 80px 19px;
    background: #ffffff url('../img/blog-bg.jpg');
    border-radius: 15px;
  }
    .blog-title {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: normal;
      line-height: 22px;
      color: #323232;
    }
    .blog {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: #323232;
      background: rgba(255,255,255, 0.8);
    }
  .newsletter-box {
    float: right;
    width: 550px;
    padding: 5px;
    background: #ecf2f5 url('../img/post.jpg');
    border-radius: 15px;
  }
  .newsletter {
    padding: 14px 15px 35px 21px;
    color: #323232;
    background: #f8f7f4;
    border-radius: 15px;
  }
    .newsletter .input-view {
      box-sizing: border-box;
      width: 368px;
      height: 43px;
      margin-top: 20px;
    }
    .newsletter .label-box {
      display: inline-block;
      vertical-align: middle;
    }
    .newsletter .input-label {
      top: 30px;
      left: 14px;
      font-size: 16px;
      line-height: 24px;
    }
    .newsletter .btn {
      vertical-align: bottom;
      margin-left: 7px;
      padding: 10px 18px;
    }
.map {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0 auto 20px;
  background: #ece5c8 url('../img/map.jpg');
}
  .map::before {
    content: " ";
    display: block;
    position: absolute;
    top: 138px;
    left: 265px;
    width: 218px;
    height: 142px;
    background: url('../img/pin.png') no-repeat;
  }
  .map-info {
    position: absolute;
    top: 62px;
    right: 27px;
    padding: 15px 25px 30px;
    color: #323232;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    background: #f8f7f4;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  .map-info p {
    padding-bottom: 4px;
  }
  .map-info b {
    display: block;
    margin-top: 3px;
    font-size: 18px;
    line-height: 24px;
  }
  .map-info .tel {
    display: block;
    margin-top: 3px;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #323232
  }
  .map-info .btn {
    margin-top: 5px;
    padding: 10px 27px;
    font-size: 18px;
    line-height: 24px;
  }
.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.3);
}
.popup {
  position: fixed;
  top: 138px;
  left: 436px;
  z-index: 10;
  width: 427px;
  background: #f8f7f4;
  box-shadow: 0 10px 10px rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 15px 25px 20px;
}
  .popup .input-view {
    box-sizing: border-box;
    display: block;
    margin-bottom: 19px;
  }
  .popup input[type="text"],
  .popup input[type="email"] {
    width: 267px;
    height: 45px;
  }
  .popup textarea {
    box-sizing: border-box;
    width: 428px;
    height: 155px;
  }
  .popup .input-label {
    top: 10px;
    left: 14px;
    font-size: 16px;
    line-height: 24px;
  }
  .popup-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
  }
  .popup-btn {
    text-align: right;
    margin-bottom: 5px;
  }
    .popup-btn .btn {
      vertical-align: top;
      margin-top: 5px;
    }
  .popup-cross {
    position: fixed;
    top: 147px;
    left: 877px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url('../img/cross-hover.svg') no-repeat 50% 50%;
  }

/*каталог*/
.breadcrumbs {
  margin-top: -32px;
  margin-left: -1px;
  width: 560px;
  font-size: 14px;
  line-height: 16px;
}
  .breadcrumbs ul,
  .breadcrumbs li {
    list-style: 0;
    margin: 0;
    padding: 0
  }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: top;
  }
  .notlink {
    text-decoration: none;
    color: #ffffff;
  }
  .breadcrumbs li::after {
    content: "»";
    margin: 8px;
    margin-right: 4px;
  }
  .breadcrumbs li:last-child::after {
    display: none;
  }
h1 {
  margin: 0;
  margin-top: 5px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.filters {
  width: 950px;
  margin-top: 7px;
  margin-bottom: 30px;
  font-size: 0;
}
.filters-slyle {
  padding: 8px 29px 8px 15px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: rgba(248,247,244,0.2);
  border: 1px solid rgba(248,247,244,0.1);
  border-radius: 25px;
  outline: 0;
}
  .sorting {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-right: 15px;
    font-size: 16px;
    line-height: 18px;
  }
    .sorting .filters-slyle {
      padding: 8px 29px 8px 15px;
    }
    .select {
      position: relative;
    }
    select {
      appearance: none;
      -webkit-appearance: none;
	    -moz-appearance: none;
    }
    .select::before {
      content: " ";
      display: block;
      position: absolute;
      top: 16px;
      right: 14px;
      width: 7px;
      height: 5px;
      background: url('../img/select.svg') no-repeat;
    }
    .select:hover::before {
      background: url('../img/select-hover.svg')no-repeat;
    }
    option {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
    }
    select:hover,
    option:hover {
      color: #323232;
      background: #ffffff;
    }
  .range-filter {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    font-size: 16px;
    line-height: 18px;
  }
    .range-filter .filters-slyle {
      padding: 8px 20px 8px 15px;
    }
    .price-controls {
      position: relative;
      width: 184px;
      height: 19px;
    }
    .price-controls::before {
      content: " ";
      display: block;
      position: absolute;
      top: 16px;
      left: 15px;
      width: 188px;
      height: 4px;
      background: rgba(255,255,255,0.5);
    }
    .price-controls::after {
      content: " ";
      display: block;
      position: absolute;
      top: 16px;
      left: 54px;
      width: 78px;
      height: 4px;
      background: #ffffff;
    }
    .toggle {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 8px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: ;
    }
    .min-toggle {
      left: 34px;
    }
    .max-toggle {
      right: 66px;
    }
      .toggle:hover {
        top: 7px;
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
      .min-toggle:hover {
        left: 33px;
      }
      .max-toggle:hover {
        right: 65px;
      }
  .fat {
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 18px;
  }
    .fat .filters-slyle {
      padding: 8px 0 8px 45px;
    }
    .fat label {
      position: relative;
      padding-right: 45px;
      cursor: pointer;
    }
    .fat label:last-child {
      padding-right: 15px;
    }
    .fat label::before,
    .fat label::after {
      content: " ";
      position: absolute;
      border-radius: 50%;
    }
    .fat label::before {
      top: 0;
      left: -31px;
      width: 18px;
      height: 18px;
      border: solid 1px #ffffff;
    }
    .fat input[type="radio"] {
      display: none
    }
    .fat label::after {
      display: none;
      top: 4px;
      left: -27px;
      width: 12px;
      height: 12px;
      background: #ffffff;
    }
    .fat input[type="radio"]:checked + label::after {
      display: block;
  }
  .fillers {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    font-size: 16px;
    line-height: 18px;
  }
    .fillers .filters-slyle {
      padding: 8px 0 8px 40px;
    }
    .fillers label {
      position: relative;
      padding-left: 5px;
      padding-right: 43px;
      cursor: pointer;
    }
    .fillers label:last-child {
      padding-right: 25px;
    }
    .fillers label::before,
    .fillers label::after {
      content: " ";
      position: absolute;
      top: 0;
      left: -25px;
      border-radius: 5px;
    }
    .fillers label::before {
      width: 18px;
      height: 18px;
      border: solid 1px #ffffff;
    }
    .fillers input[type="checkbox"] {
      display: none;
    }
    .fillers label::after {
      display: none;
      width: 20px;
      height: 20px;
      background: url('../img/checkbox.svg');
    }
    .fillers input[type="checkbox"]:checked + label::after {
      display: block;
    }
  .filters-title {
    margin: 17px 16px 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .filters .btn {
    display: inline-block;
    vertical-align: bottom;
    padding: 7px 25px;
    font-size: 16px;
    line-height: 18px;
    background: rgba(248,247,244,0.2);
    border: 2px solid #ffffff;
    box-shadow: none;
    outline: 0;
  }
    .filters .btn:hover {
      color: #323232;
      background: #fbfcfb;
      border: 2px solid #fbfcfb;
    }
    .filters .btn:active {
      padding: 9px 27px;
      color: #323232;
      background: #eaeaea;
      border: 0;
      box-shadow: inset 0 1px 2px #6c6d6c;
    }
.goods {
  margin: 33px 0 50px 92px;
}
  .row-1,
  .row-2,
  .row-3 {
    margin: 0;
    padding: 0;
    margin-bottom: -46px;
    font-size: 0;
  }
.paginator {
  margin-right: 93px;
  margin-bottom: 30px;
  text-align: right;
}
.paginator ul,
.paginator li {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
  .paginator li {
    display: inline-block;
    vertical-align: top;
  }
  .number,
  .prev,
  .next {
    display: block;
    padding: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .prev,
  .next {
  font-family: 'Glyphter';
  font-size: 14px;
  }
  .disabled {
    color: rgba(255,255,255,0.2);
  }
  .number:hover {
    background: rgba(255,255,255, 0.3);
  }
  .current,
  .number:active {
    background: #ffffff;
    color: #323232;
  }
